:root {
  --Brand-Primary: #fff;
  /* --Brand-Primary: #dad7ac; */
  --Brand-Secondary: #000;
  --Brand-Tertiary: #4a5c43;
  --Brand-Accent: #2f7538;
  --Shadow: 0 0.25rem 0.75rem #0002;
  --Radius: 1em;
}

/* Box sizing rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: Advent Pro, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Update default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36bf7f;
}

a:hover,
a:focus-visible {
  color: #d96666;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------- Containers ---------- */

.container {
  /* width: min(65em, 100%); */
  /* margin: 0 auto; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

/* Basic Button */

.btn {
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: #394a59;
  border: 0.125 rem solid #394a59;
  color: #000;
  border-radius: 0.25em;

  /* Link necessary styles */
  text-decoration: none;

  /* button necessary styles */
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
btn:focus-visible {
  background-color: var(--Brand-Accent);
  border-color: var(--Brand-Accent);
}

.btn--secondary {
  background-color: #36bf7f;
  border-color: #36bf7f;
  color: #000;
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  background-color: #75d3a7;
  border-color: #75d3a7;
  color: #000;
}

.btn--large {
  font-size: 1.15 rem;
}

/* Navbar Styles */

.header {
  background-color: var(--Brand-Tertiary);
  position: sticky;
  top: 0;
  color: #000;
  /* box-shadow: 0 0.25rem 1rem #0002; */
  /* border-bottom: 0.1rem solid var(--Brand-Accent); */
}

.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  padding-top: 1rem;
  color: var(--Brand-Primary);
  text-decoration: none;
  font-family: "Comforter";
  font-size: 2.027rem;
  line-height: 1.3;
}

.header__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  display: block;
  width: 100%;
}

.header__link {
  color: var(--Brand-Primary);
  font-family: "Roboto Flex";
  text-decoration: none;
  align-items: center;
  text-align: center;
  display: block;
  padding: 0.9rem;
}

.header__link:hover,
.header__link:focus {
  color: var(--Brand-Primary);
  border: 0.1rem solid var(--Brand-Primary);
  /* background-color: var(--Brand-Primary-Light); */
}

.header__title:hover,
.header__title:focus {
  font-size: 2.986rem;
  color: var(--Brand-Primary);
}

@media only screen and (min-width: 45em) {
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .header__list {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 0.5rem;
  }

  .header__title {
    display: flex;
    align-items: center;
  }

  .header__link {
    display: flex;
    padding: 1.5rem;
  }
}

/* ---------- Banner ---------- */
.banner {
  background-color: var(--Brand-Tertiary);
  background-position: center;
  background-size: cover;
}

.banner .container {
  min-height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.banner__content {
  width: min(35em, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__title {
  font-size: 3rem;
  font-family: "Comforter";
  margin-bottom: auto;
  line-height: 1.3;
  color: var(--Brand-Primary);
}

.banner__subtitle {
  font-size: 1.1rem;
  font-family: "Advent Pro", 400;
  color: var(--Brand-Primary);
  margin-bottom: 4rem;
}

.banner__text {
  font-size: 1rem;
  font-family: "Roboto Flex";
  text-align: justify;
  color: var(--Brand-Primary);
}

@media only screen and (min-width: 45em) {
  .banner--large {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .banner .container {
    flex-direction: row;
  }
  .banner__title {
    font-size: 4.069rem;
  }
  .banner__text,
  .btn--large {
    font-size: 1.2rem;
  }

  .banner__img img {
    max-width: 44.625rem;
    max-height: 42.5rem;
  }
}

@media only screen and (min-width: 60em) {
  .banner__content {
    width: min(60em, 100%);
  }

  .banner__title {
    font-size: 7.896rem;
  }

  .banner__text {
    font-size: 1.5rem;
  }
}

/* ---------- Animations ---------- */

@keyframes slide_in {
  from {
    translate: -3rem;
    opacity: 0;
  }

  to {
    translate: 0;
    opacity: 1;
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* Card Groups */

.projects {
  background-color: var(--Brand-Primary);
  color: var(--Brand-Tertiary);
  /* padding: 5rem; */
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.card--reverse {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.card:hover {
  color: var(--Brand-Secondary);
}

.card--reverse:hover {
  color: var(--Brand-Secondary);
}

.card__img {
  padding: 0.5rem;
}

.card__info {
  padding: 2rem;
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  flex-direction: column;
}

.card--details {
  font-family: "Roboto Flex";
  text-align: center;
  font-weight: 100;
  font-size: 1.02rem;
  margin-bottom: 0;
  border: 0.08rem solid var(--Brand-Tertiary);
  padding: 0 1rem;
  border-radius: var(--Radius);
  color: var(--Brand-Tertiary);
}

.card__title {
  font-family: "Roboto Flex";
  text-align: center;
  color: var(--Brand-Tertiary);
  font-size: 1.424rem;
}

.card__text {
  color: var(--Brand-Tertiary);
  display: flex;
  text-align: center;
}

.card__button {
  border-radius: var(--Radius);

}

@media only screen and (min-width: 45em) {
  .grid {
    gap: 8rem;
  }

  .card {
    flex-direction: row;
    justify-content: space-around;
  }

  .card--reverse {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .card__img {
    width: 42.5rem;
    height: 25.5rem;
  }

  .card__info {
    align-items: flex-start;
    justify-content: center;
    max-width: 50%;
  }

  .card--details {
    align-items: flex-start;
    margin: 0;
    padding: 0 0.5rem;
  }

  .card__title {
    font-size: 1.602rem;
  }

  .card__text {
    text-align: left;
  }
}

@media only screen and (min-width: 60em) {
  .card {
    flex-direction: row;
    justify-content: space-around;
  }

  .card--reverse {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

    .card__info {
    align-items: flex-start;
    justify-content: center;
    max-width: 50%;
  }

   .card--details {
    align-items: flex-start;
    margin: 0;
    padding: 0 0.5rem;
  }

  .card__title {
    font-size: 1.802rem;
  }
}

/* Footer Styles */

.footer {
  background-color: var(--Brand-Tertiary);
  color: var(--Brand-Primary);
}

.footer .container {
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  height: 30vh;
}

.footer__first--line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
}

.footer__logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--Brand-Secondary-Pale);
}

.footer__title {
  font-size: 1.525rem;
  line-height: 1.3;
  font-family: "Comforter";
}

.footer__list {
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid var(--Brand-Secondary-Pale);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer__link {
  color: var(--Brand-Primary);
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--Brand-Secondary-Pale);
}

.footer__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}

@media only screen and (min-width: 45em) {
  .footer__logo {
    flex: 1 0;
    align-items: flex-start;
  }

  .footer__nav {
    flex: 1 0;
    /* gap: 3rem; */
    display: flex;
    flex-direction: row;
  }
}
